---
title: Color Swatches
base_url: "./"
---
<div class="styleguide-cirkel-con">
  <div class="styleguide-circle act-create">.act-create <br /><strong>#f3782d</strong></div>
  <div class="styleguide-circle act-music">.act-music <br /><strong>#ad2ccf</strong></div>
  <div class="styleguide-circle act-watch">.act-watch<br /><strong>#da2b2f</strong></div>
  <div class="styleguide-circle act-books">.act-books<br /><strong>#92cb39</strong></div>
  <div class="styleguide-circle act-lifebookmark">.act-lifebookmark<br /><strong>rgba(0, 0, 0, 0.56)</strong></div>
  <div class="styleguide-circle act-edit">.act-edit<br /><strong>rgba(0, 0, 0, 0.56)</strong></div>
  <div class="styleguide-circle act-calories">.act-calories<br /><strong>#ed523d</strong></div>
  <div class="styleguide-circle act-steps">.act-steps<br /><strong>#8ead11</strong></div>
  <div class="styleguide-circle act-walking">.act-walking<br /><strong>#3b9437</strong></div>
  <div class="styleguide-circle act-running">.act-running<br /><strong>#ff4e73</strong></div>
  <div class="styleguide-circle act-cycling">.act-cycling<br /><strong>#b42872</strong></div>
  <div class="styleguide-circle act-transport">.act-transport<br /><strong>#009196</strong></div>
  <div class="styleguide-circle act-communication">.act-communication<br /><strong>#1a5ca8</strong></div>
  <div class="styleguide-circle act-games">.act-games<br /><strong>#33b4da</strong></div>
  <div class="styleguide-circle act-sleep">.act-sleep<br /><strong>#7572cc</strong></div>
  <div class="styleguide-circle act-others">.act-other<br /><strong>#c8c8c8</strong></div>
  <div class="styleguide-circle act-browsing">.act-browsing<br /><strong>#5591e6</strong></div>
</div>