<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Patolo Web Components</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="assets/css/common/component-styleguide.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="styleguide styleguide-body">
  <div class="styleguide-wrapper">
    <header class="styleguide-header">
        <h1>PWC</h1>
        <p>Patolo Web Components</p>
    </header>
    <div class="styleguide-body">
      <main class="styleguide-content">{{> body }}</main>
      <nav class="styleguide-nav">{{> nav }}</nav>
    </div>
</body>
</html>