<input type="checkbox" id="styleguide-menu" checked/>
<label for="styleguide-menu"><span>+</span></label>
  <nav>
    <a href="overview.html">Overview</a>
    <a href="colorSwatches.html">Color swatches</a>
    <a href="buttons.html">Buttons</a>
    <a href="textStyling.html">Text styling</a>
    <a href="pageHead.html">Page head</a>
    <a href="pageBottom.html">Page bottom</a>
    <a href="fontIcons.html">Font icons</a>
    <a href="animations.html">Animations</a>
    <a href="graphs.html">Graphs</a>
    <a href="media.html">Media</a>
  </nav>